.key-value-item {
  display: flex;
}

.key-value-item input:first-child {
  margin-right: 1em;
}

.key-value-item button:last-child {
  margin-left: 1em;
}

.submit-row {
  display: flex;
  justify-content: flex-end;
}

.button.large {
  font-size: 1.5em;
}

.input-row {
  display: flex;
  justify-content: space-between;
}

.input-row > div {
  width: 49%
}
